.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-h2 {
  font-family: var(--font-family-title);
  font-size: 2rem;
}

.options-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  width: 100%;
  font-family: var(--font-family-texte);
}

@media screen and (min-width: 768px) {
  .options-label {
    width: 50%;
  }
}

.options-input {
  border: .5px solid var(--secondary-color);
  font-family: var(--font-family-texte);
  border-radius: 20px;
  height: 2rem;
  width: 20rem;
  padding: 0.5rem;
}

.options-roulage-container {
  display: flex;
  flex-direction: column;
}

.options-button {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  .options-button {
    justify-content: right;
    margin: 4rem 4rem 0 0;
  }
}

.next-page {
  text-decoration: none;
  font-family: var(--font-family-texte);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  height: 2rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s;
  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 768px) {
  .next-page:hover {
    background-color: var(--background-color);
    color: black;
  }
}
