.vehicle-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.5px solid var(--primary-color);
  border-radius: 20px;
  padding: 10px;
  text-align: start;
  box-shadow: 2px 4px 12px #00000014;
  transition: 0.4s;
}

.card-size--large {
  margin: 10px;
  width: 300px;
  height: 400px;
}

/* à modifier la taille en version mobile */
.card-size--small {
  width: 300px;
  height: 200px;
}

@media (min-width: 768px) {
  .card-size--large {
    width: 470px;
    height: 650px;
    margin: 30px;
  }

  /* à modifier la taille en version desktop */
  .card-size--small {
    display: flex;
    width: 50%;
    height: 22rem;
  }

  .vehicle-card--large:hover {
    box-shadow: 2px 4px 16px #00000029;
  }
}

.vehicle-name {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-family: var(--font-family-title);
  text-align: center;
}

@media (min-width: 768px) {
  .vehicle-name {
    font-size: 1.3rem;
  }
}

.vehicle-image {
  width: 260px;
  height: 210px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .vehicle-image {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
  }
}

.vehicule-image--large {
  width: 440px;
  height: 400px;
  margin-bottom: 30px;
}

.vehicule-image--small {
  width: 260px;
  height: 210px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .vehicule-image--small {
    width: 220px;
    height: 200px;
    margin-bottom: 30px;
  }
}

.vehicle-description {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px 10px;
  font-size: 1rem;
  margin-bottom: 5px;
  font-family: var(--font-family-texte);
}

@media (min-width: 768px) {
  .vehicle-description {
    font-size: 1rem;
    gap: 10px 20px;
  }
}

@media (min-width: 768px) {
  .vehicle-description--small {
    font-size: 1.3rem;
    gap: 10px 20px;
  }
}

.vehicle-detail {
  display: contents;
}

.vehicle-data-label {
  font-weight: bold;
  color: var(--primary-color);
  text-align: start;
  display: flex;
  justify-content: space-between;
}

.two-points {
  padding-left: 10px;
}

.value {
  color: var(--secondary-color);
  text-align: start;
}

.hidden {
  display: none;
}

.vehicle-card-suppressed {
  border: none;
}

button.delete-button {
  border: 1px solid rgba(255, 0, 0, 0.435);
  border-radius: 10px;
  padding: 4px;
  background-color: rgba(255, 0, 0, 0.435);
  cursor: pointer;
  font-size: .7rem;
  color: white;
}
