.vehicle-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .vehicle-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
  }
}
