.habits {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habits h2 {
  font-family: var(--font-family-title);
  font-size: 2rem;
  margin: 0;
}

.habits input {
  width: 7rem;
}

@media screen and (min-width: 768px) {
  .habits input {
    width: 22vw;
    height: 2rem;
    border-radius: 15px;
    border: .8px solid var(--primary-color);
  }
}

.habits label {
  width: 7rem;
  text-align: center;
  padding: 0;
}

.habits-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  margin-top: 1.2rem;
  border-radius: 5px;
}

.habits button {
  width: 30vw;
  height: 5vh;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}

.next-page {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .habits button {
    width: 7rem;
    transition: 0.4s;
  }

  .habits-container {
    width: 55vw;
  }

  .habits button:hover {
    background-color: white;
    border: 1px solid var(--primary-color);
    color: #000000;
  }

  .button-cont {
    width: 55vw;
    display: flex;
    justify-content: end;
  }
}
