* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f0f0f0;
  --primary-color: #27dda6;
  --secondary-color: #27d7dd;
  --box-color: #27dda654;
  --result-red-color: #ff00003b;
  --result-green-color: #00ff1e34;
  --font-color: black;
  --font-family-title: "Oxanium", sans-serif;
  --font-family-texte: "Roboto", sans-serif;
  --box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  --focus-color: #007bff;
  --focus-offset: 4px;
  --focus-style: 2px dashed;
}

h1 {
  font-family: var(--font-family-title);
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
