.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  font-family: var(--font-family-texte);
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgb(246, 243, 243);
  transition: 0.5s;
}

@media screen and (min-width: 600px) {
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    gap: none;
    width: 100%;
    position: relative;
    z-index: none;
    height: auto;
    background-color: transparent;
  }
}

.navbar-button {
  width: 90%;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: #27dda6;
  border: 1px solid rgba(2, 251, 209, 0.9);
  border-radius: 1rem;
  padding: 20px;
  transition: 0.3s;
  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 600px) {
  .navbar-button {
    width: 10%;
    color: #000000;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: 0px;
    box-shadow: none;
    padding: .25rem;
    border: 2px var(--primary-color);
    transition: .5s;
  }

  .navbar-button:hover {
    border-bottom: 2px solid var(--secondary-color);
    border-radius: 0px;
    margin-top: 2px;
  }
}
