.log-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7vh;
  margin-top: 3rem;
}

.log-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: var(--font-family-title);
}

.divider {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.divider hr {
  width: 40vw;
  height: 0px;
  border: .5px solid #0000008c;
}

div > p {
  font-family: var(--font-family-texte);
  font-size: 0.8rem;
}

label {
  margin: 1rem 0 .35rem;
  width: 80vw;
  padding-left: 0.5rem;
  font-family: var(--font-family-texte);
  font-size: 1rem;
}

.log-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-container input {
  width: 80vw;
  border: .5px solid var(--primary-color);
  font-family: var(--font-family-texte);
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.button-log {
  width: 40vw;
  height: 5vh;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .log-container {
    flex-direction: row;
    justify-content: center;
  }

  .divider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .divider hr {
    width: 0px;
    height: 35vh;
  }

  .log-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: var(--font-family-title);
  }

  label {
    margin-top: 1rem;
    width: 40vw;
  }

  .log-container input {
    width: 40vw;
    height: 4vh;
  }

  .button-log {
    width: 12vw;
    height: 5vh;
    margin: 1rem 0;
  }
}
