.compte {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-texte);
  margin-bottom: 1rem;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  height: 8rem;
  width: 8rem;
  margin-top: 3rem;
  border: solid 2px var(--primary-color);
  border-radius: 100px;
  box-shadow: var(--box-shadow);
}

.user-info {
  display: flex;
  flex-direction: row;
}

.nickname {
  display: flex;
  flex-direction: row;
}

.user-info button {
  margin-left: 1rem;
  margin-top: 1rem;
  border: solid .5px;
  border-radius: 5px;
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  background-color: white;
  cursor: pointer;
  font-family: var(--font-family-texte);
}

.compte h2 {
  margin-top: 1rem;
}

.compte hr {
  width: 70vw;
  margin-top: 2rem;
  border-width: .5px;
  border-color: rgba(0, 0, 0, 0.135);
}

.compte-box {
  height: 10rem;
  background-color: var(--box-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin-top: 2rem;
  border-radius: 15px;
  border: none;
  box-shadow: var(--box-shadow);
}

.compte-box p {
  font-size: 1.5rem;
  flex-wrap: wrap;
}

.compte-question {
  margin-top: 4rem;
  width: 90vw;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 15px;
}

.compte-question button {
  background-color: var(--box-color);
  font-size: 1.75rem;
  color: rgba(0, 0, 0, 0.615);
  border: none;
  border-radius: 50px;
  height: 3.25rem;
  width: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  font-family: var(--font-family-texte);
}

@media screen and (max-width: 768px) {
  .user-info-perso {
    display: none;
  }

  .vehicule button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .avatar {
    margin: 0;
    height: 10rem;
    width: 10rem;
    border-radius: 100px;
  }

  .compte h2 {
    margin: 0;
    height: 1.5rem;
  }

  .user-info button {
    margin: 0 0 0 1rem;
    height: 2rem;
    width: 2rem;
    border: none;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    box-shadow: var(--box-shadow);
    transition: .4s;
    cursor: pointer;
    font-family: var(--font-family-texte);
  }

  .user-info button:hover {
    background-color: white;
    border: 1px solid var(--secondary-color);
    color: #000000;
  }

  .user-info {
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
  }

  .nickname {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .user-info-perso {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1rem;
  }

  .user-info-perso p {
    margin-right: 5rem;
    width: 10rem;
  }

  .compte hr {
    display: none;
  }

  .user-info-vehicle {
    width: 90vw;
    margin-top: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .compte-box {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: none;
  }

  .comparaison {
    width: 100%;
    text-align: start;
    margin-left: 1rem;
    margin-top: .75rem;
  }

  .box-contenu {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin-top: 2rem;
    width: 100%;
  }

  .car-card-green {
    height: 20rem;
    width: 50%;
    border: solid 1px var(--primary-color);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
  }

  .car-card-red {
    height: 20rem;
    width: 50%;
    border: solid 1px rgba(255, 0, 0, 0.435);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
  }

  .box-card {
    border: solid 1px black;
    padding: .5rem;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    box-shadow: var(--box-shadow);
    width: 100%;
  }

  .vehicule {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1rem;
    width: 100%;
  }

  .vehicule p {
    margin-left: 1rem;
  }

  .vehicule button {
    margin-left: 1rem;
    width: 13rem;
    height: 2rem;
    border: none;
    background-color: var(--primary-color);
    border-radius: 25px;
    color: white;
    box-shadow: var(--box-shadow);
    transition: .4s;
    cursor: pointer;
    display: block;
    font-family: var(--font-family-texte);
  }

  .vehicule button:hover {
    background-color: white;
    border: 1px solid var(--secondary-color);
    color: #000000;
  }

  .compte-question {
    display: none;
  }
}
