.footer-container {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: row;
  cursor: pointer;
  pointer-events: none;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .footer-container {
    margin-top: 1rem;
  }
}

.footer-container:hover {
  pointer-events: all;
}

.spacer {
  display: inline-block;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}

.spacer:before {
  content: "#";
  position: absolute;
  border-bottom: 1px solid #27dda6;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}

.footer-button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  text-decoration: underline;
}

.footer-link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: black;
  position: relative;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .footer-link {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: black;
    position: relative;
    display: inline-block;
    margin-right: 30px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    transition-delay: 0;
  }
}

span {
  transition: color 0.5s ease;
}

.footer-link:hover span {
  color: #27dda6;
}

.footer-container:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}

.footer-container:hover .footer-link {
  opacity: 1;
  top: 0px;
}

.footer-link:nth-child(1) {
  transition-delay: 0.45s;
}
.footer-link:nth-child(1) {
  transition-delay: 0.4s;
}
.footer-link:nth-child(3) {
  transition-delay: 0.35s;
}

.footer-container:hover .footer-link:nth-child(1) {
  transition-delay: 0.25s;
}

.footer-h3 {
  font-family: var(--font-family-title);
  color: var(--font-color);
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}
