.admin-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  font-family: var(--font-family-texte);
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .admin-container {
    margin: 0 25%;
  }
}

h2 {
  text-align: center;
  font-family: var(--font-family-title);
  font-size: 2rem;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  font-family: var(--font-family-title);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.queries-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-bottom: 2rem;
}

.query-item {
  border: 1px solid var(--primary-color);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}

.query-item p {
  margin: 5px 0;
}

.error {
  color: red;
  text-align: center;
  font-family: var(--font-family-texte);
}

.admin-buttons-container {
  display: flex;
  justify-content: center;
}

.admin-container button {
  margin-left: 1rem;
  margin-top: 1rem;
  width: 7rem;
  height: 2.5rem;
  border: none;
  background-color: var(--primary-color);
  border-radius: 8px;
  color: white;
  box-shadow: var(--box-shadow);
  transition: 0.4s;
  cursor: pointer;
}

.admin button:hover {
  background-color: var(--button-hover-bg-color);
}

.history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.history-container h3 {
  margin-bottom: 1rem;
}
.history-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.history-item {
  border: 1px solid var(--primary-color);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
