* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box-confirmation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: var(--font-family-texte);
}

.add-item-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
}

.matricule_input[type="text"] {
  font-family: var(--font-family-texte);
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
}

.matricule_left_input {
  font-family: var(--font-family-texte);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.confirmation-button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  font-family: var(--font-family-texte);
}
