.header-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: var(--font-family-texte);
}

@media screen and (min-width: 600px) {
  .header-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.196);
  }
}

.sub-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .sub-header-container {
    width: 20%;
  }
}

.btn-menu {
  display: block;
}

@media screen and (min-width: 600px) {
  .btn-menu {
    display: none;
  }
}

.nav {
  display: none;
}

.nav.show {
  display: block;
}

@media screen and (min-width: 600px) {
  .nav {
    display: block;
    width: 80%;
  }

  .header-logo {
    margin-left: 3rem;
  }
}

/*bouton animation*/
/* .btn-menu span {
  background: #fff;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 75%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(30px, -11px) rotatez(45deg);
} */
