@media screen and (min-width: 600px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0, 0, 0, 0.196);
    height: 8vh;
    width: 85vw;
    padding: .25rem 0;
  }

  .button-desktop {
    height: 2rem;
    background-color: white;
    border: 1px solid #00bd84;
    color: #000000;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    width: 8rem;
  }
  .header-mobile {
    display: none;
  }

  .navbar-mobile {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .nav {
    display: none;
  }

  .header-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.25rem;
  }

  .navbar-mobile {
    display: none;
  }

  .navbar-button-mobile {
    border: 2px solid green;
    padding: 30px;
  }
  .header-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    height: 6vh;
  }
  .menu-burger {
    width: 35px;
    height: 35px;
  }
}

header {
  display: flex;
  justify-content: center;
}
