.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.contact h2 {
  text-align: center;
  font-family: var(--font-family-title);
  font-size: 2rem;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact label {
  text-align: left;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  margin-left: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.contact select {
  height: 2rem;
  width: 20rem;
  border: .5px solid var(--secondary-color);
  border-radius: 20px;
  padding-left: 1rem;
  font-size: 0.75rem;
  font-family: var(--font-family-texte);
}

.contact-mail {
  height: 2rem;
  width: 20rem;
}

.contact input {
  border: .5px solid var(--secondary-color);
  border-radius: 20px;
  padding-left: 1rem;
  font-size: 0.75rem;
  font-family: var(--font-family-texte);
}

.contact textarea {
  border: 0.5px solid var(--secondary-color);
  border-radius: 20px;
  font-size: 0.75rem;
  font-family: var(--font-family-texte);
  padding: 0.6rem;
  resize: none;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-contact {
  margin-left: 1rem;
  margin-top: 2rem;
  width: 8rem;
  height: 2.5rem;
  border: none;
  background-color: var(--primary-color);
  border-radius: 25px;
  color: white;
  box-shadow: var(--box-shadow);
  transition: 0.4s;
  cursor: pointer;
  display: block;
}

@media screen and (min-width: 768px) {
  .contact select {
    height: 2.5rem;
    width: 50rem;
  }

  .contact textarea {
    font-size: 1rem;
  }

  .contact-mail {
    height: 2.5rem;
    width: 50rem;
  }

  .contact-zone-text {
    height: 15rem;
    width: 50rem;
    align-items: center;
  }

  .button-contact:hover {
    background-color: white;
    color: black;
    border: 1px solid var(--secondary-color);
  }
}

.error {
  font-family: var(--font-family-texte);
  color: red;
  font-size: 0.75rem;
  margin-left: 1rem;
  margin-top: 0.2rem;
  text-align: end;
}
